body {
  display: block;
  margin: 0px;
}


/* action side bar */
/* .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
  background-color: #00a3a3 !important;
  border-radius: 5px !important;
} */
.MuiListItem-root.Mui-selected {
  background-color: #00a3a3 !important;
  border-radius: 5px !important;
}
.canvasjs-chart-credit{
  display: none;
}