body {
  display: block;
  margin: 0px;
}

/* action side bar */
/* .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
  background-color: #00a3a3 !important;
  border-radius: 5px !important;
} */
.MuiListItem-root.Mui-selected {
  background-color: #00a3a3 !important;
  border-radius: 5px !important;
}
.canvasjs-chart-credit {
  display: none;
}

/* material cell root */

.MuiTableCell-root {
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
}
/* .MTableToolbar-root-36{
  color: white;
  background-color: #00a3a3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.MTableToolbar-root-29{
  color: white;
  background-color: #00a3a3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.MuiInputAdornment-positionStart{
  color: white !important
}
.MuiInputBase-inputAdornedStart{
  color: white !important
}
.MTableToolbar-actions-39 .MuiIconButton-label{
  color: white !important
}
.Mui-disabled .MuiIconButton-label{
  color: white !important
}
.MuiInput-underline:before {
   border-bottom: 1px solid white !important
} */

/* .MuiBox-root .MuiBox-root-77 .chartjs-render-monitor {
  width: 736px !important;
  height: 360px !important;
  margin-left: -150px;
}
.MuiBox-root .MuiBox-root-79 .chartjs-render-monitor {
  margin-left: -50px;
} */

/* .makeStyles-container__setting-23 {
  border-top: 4px solid #00a3a3;
} */

.MTableToolbar-title-59 .MuiTypography-h6 {
  display: 'none';
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #f28262 !important;
}
